body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 190px;
    margin-right: 190px;
    border: 2px #000000;
    padding: 60px;
    background-image: url("logo4.png"), url("logo.png"), url("logo2.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 1107px, 93px, 168px;
    background-position: 46% 69%, 31% 18%, 72.5% 20%;
    background-position: fixed fixed fixed;
}

img {
    width: 3cm;
    float: left;
}

p {
    font-size: 22px;
}

.box2 {
    border: 1.6px solid black;
    width: 15cm;
    height: 1.5cm;
    text-align: center;
    font-size: 130%;
    margin-left: 23%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

table,
tr,
td {
    border-color: #00008b;
}